{% extends 'base.html' %}

{% block content %}
<br />
    <div class="container-review">
        <center><strong><h1 style="font-size: 28px;">Reviews On {{ title }}</h1></strong></center>

        <br />

        {% if user.is_authenticated %}
            <div class="text-center mb-3">
                <a href="{% url 'add_review' id %}" class="btn btn-primary">Add Review</a>
            </div>
        {% endif %}

        {% for review in reviews %}
            <div class="review">
                <h2>{{ review.title }}</h2>
                <p><strong>Reviewed by:</strong> {{ review.user.username }}</p>
                <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                <p><strong>Date:</strong> {{ review.review_date|date:"d M Y" }}</p>
                <p>{{ review.content }}</p>

                {% if user.is_authenticated and user == review.user %}
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        {% empty %}
            <p style="text-align: center;">No reviews available.</p>
        {% endfor %}
        <br />
    </div>
{% endblock content %}

