{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

    <head>
        <style>

            .card-columns {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                border: none;
                width: 30%;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
                }
                a {
                    color: initial;
                    &:hover {
                    text-decoration: initial;
                    }
                }
                .text-muted i {
                    margin: 0 10px;
                }
                
                pointer-events: none;
            }
        </style>
    </head>

    <body>
        <br>
        <center><strong><h1 style="font-size: 28px;">{{name}}'s Diary List</h1></strong></center>
        <br>

        <center><p>You have {{ booksInDiaryCount }} diaries written on this page!</p></center>
        <br>

        <div class="container">
            <div class="container">
                <div class="card-columns" id="diary_cards">
                </div>
            </div>
        </div>

        <br>
        <center><strong><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#0083B6; border-color: #0083B6;">Add New Diary</button></strong></center>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Add New Diary</strong></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="diaryForm">
                            <div class="mb-3">
                                <label for="book" class="form-label">Select a Book</label>
                                <select class="form-select" id="title" name="title">
                                    <option value="" selected disabled>Select a Book</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="finishDate" class="form-label">Finish Date</label>
                                <input type="date" class="form-control" id="finishDate" name="finishDate">
                            </div>
                            <div class="mb-3">
                                <label for="notes" class="form-label">Notes</label>
                                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #E32525; border-color: #E32525;">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" style="background-color: #0083B6; border-color: #0083B6;">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <script>
            async function getBook() {
                return fetch("{% url 'book:get_books' %}").then((res) => res.json())
            }

            async function getDiary() {
                return fetch("{% url 'diary:get_diary_json' %}").then((res) => res.json())
            }

            async function makeDropdown() {
                const bookDropdown = document.getElementById("title");
                bookDropdown.innerHTML = '<option value="" selected disabled>Select a Book</option>';

                const books = await getBook();
                console.log(books); 

                books.forEach(book => {
                    const option = document.createElement("option");
                    option.value = book.fields.title;
                    option.textContent = book.fields.title;
                    bookDropdown.appendChild(option);
                });
            }

            makeDropdown();

            async function refreshDiary() {
                document.getElementById("diary_cards").innerHTML = ""
                const diaries = await getDiary();

                let htmlString = '<div class="card-columns">';

                diaries.forEach((diary) => {
                    htmlString += `<div class="card">
                        <a href="#">
                            <img class="card-img-top" src="https://images.saymedia-content.com/.image/t_share/MTc0MjYyNTc5Mjg2MjU1MTAw/10-books-over-1000-pages-to-read.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${diary.fields.title}</h5>
                                <p class="card-text">${diary.fields.notes}</p>
                            <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i>Finish date: ${diary.fields.finishDate}</small></p>
                    </div>
                        </a>
                    </div>`;
                document.getElementById("diary_cards").innerHTML = htmlString 
                });
            }

            refreshDiary();

            function addDiary() {

                fetch("{% url 'diary:add_diary_ajax' %}", {
                    method: "POST",
                    body: new FormData(document.querySelector('#diaryForm')),
                })
                .then(refreshDiary)
                    
                document.getElementById("diaryForm").reset();
                return false
            }

            document.getElementById("button_add").onclick = addDiary

        </script>

    </body>
</html>

{% endblock content %}
