{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<center><strong><h1 style="font-size: 18px;">Edit Diary</h1></strong></center>
<br>

<center><form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <br>
                <center><input type="submit" value="Save Notes" class="btn btn-primary" data-bs-dismiss="modal" style="background-color: #0083B6; border-color: #0083B6;"/></center>
                <br>
            </td>
        </tr>
    </table>
</form></center>

{% endblock %}