{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        
    </head>
    
    <body>
        <nav class="navbar navbar-dark bg-primary border-bottom border-body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">Literatour</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Pinjam Buku</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Reading List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/forum/">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'main:logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container px-5 py-5">
            <div class="row gx-5">
                    <div class="card border-0 h-50 bg-light">
                        <div class="card-body p-25">
                            <div class="h-100 align-items-center justify-content-center">
                                <div>                
                                    <h2 class="fw-bolder fs-25 mb-25" style="color:black ; text-align: center;">Literatour Forum</h2>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Forum</button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Forum</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="form" onsubmit="return false;">
                                                            {% csrf_token %}
                                                            <div class="mb-3">
                                                                <label for="topic" class="col-form-label" style="text-align: left;">Topic:</label>
                                                                <input type="text" class="form-control" id="topic" name="topic"></input>
                                                            <div class="mb-3">
                                                                <label for="description" class="col-form-label"style="text-align: left;">Description:</label>
                                                                <textarea class="form-control" id="description" name="description"></textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" >Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 style="margin:10px 0px 0px 40px; float: left">Posts</h2>                       
                    <div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4 p-3" id="item_card" style="justify-content: center; align-items: center">
            </div>
        </div>

    <script> 
        async function getForum() {
            return fetch("{% url 'forum:get_forum_json' %}").then((res) => res.json())
        }
        async function refreshForums() {
            document.getElementById("item_card").innerHTML = ""
            const datas = await getForum()
            let htmlString =  ``
            datas.forEach((data) => {
                console.log(data); 
                htmlString += `\n
                        <div id="forum-${data.pk}">
                            <div class="card border-1 bg-light" style="margin:10px 50px 10px 15px">
                                <div class="card-body p-25 style="margin:10px 20px">
                                    <div class="h5 card-title mb-3" style="display:inline-block; font-weight:bold">${data.fields.topic} </div>
                                    <p class="card-text mb-0">${data.fields.description}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="small">
                                                <div class="fw-bold">${data.fields.user}</div>
                                                <div class="text-muted">${data.fields.date}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/forum/detail/${data.pk}" style="padding:0px 20px 20px 20px; text-align:right; color:#2F6D80">See Comments</a>
                            </div>
                        </div>
                    `
            }) 
            
            document.getElementById("item_card").innerHTML = htmlString
        }
        refreshForums()
        
        function addForum() {
            fetch("{% url 'forum:add_forum_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshForums)
            document.getElementById("form").reset()
            return false
        }
    
    document.getElementById("button_add").onclick = addForum
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>

</html>
{% endblock content %}
