{% extends 'base.html' %}

{% block content %}

<nav class="navbar bg-primary border-bottom border-body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Literatour</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Pinjam Buku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Reading List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<br />

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nama  : {{ name }}</li>
    </ul>
</div>

<br />

<div class="last_login">
    <p>Sesi terakhir login: {{ last_login }}</p>
</div>

<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
</div>

<script>
    async function getBooks() {
        return fetch("{% url 'book:get_books' %}").then((res) => res.json())
    }

    async function refreshBooks(filter = "") {
        document.querySelector(".row").innerHTML = "";
        const books = await getBooks();
        
        books.forEach((item, index) => {
            if (item.fields.title.toLowerCase().includes(filter.toLowerCase())) {
                const bookCard = `
                    <div class="col">
                        <div class="card mb-4">
                            <img src="https://images.saymedia-content.com/.image/t_share/MTc0MjYyNTc5Mjg2MjU1MTAw/10-books-over-1000-pages-to-read.jpg" class="card-img-top" alt="${item.fields.title}">
                            <div class="card-body">
                                <h4 class="card-title">${item.fields.title}</h3>
                                <p class="card-text">${item.fields.authors}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Rating: ${item.fields.average_rating}</li>
                             </ul>
                             <button type="button" class="btn btn-sm btn-primary">Borrow</button>
                        </div>
                    </div>`;
                
                const row = document.querySelector(".row");
                row.innerHTML += bookCard;
            }
        });
    }

    function handleSearch() {
        const searchText = document.querySelector('.form-control').value;
        refreshBooks(searchText);
    }

    document.querySelector('.d-flex').addEventListener('submit', (event) => {
        event.preventDefault();
        handleSearch();
    });

    document.querySelector('.form-control').addEventListener('keyup', (event) => {
        if (event.key === 'Enter') {
            handleSearch();
        }
    });

    document.querySelector('.btn-outline-success').addEventListener('click', (event) => {
        handleSearch();
    });

    refreshBooks();
</script>



{% endblock content %}
