{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="register-title">
    <h1 class="text-3xl font-bold">Register</h1>
</div>

<div class="register bg-gray-100 p-6 rounded-lg">

    <form method="POST" action=".">
        {% csrf_token %}

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Role:</label><br>
            {{ form.role|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Full Name</label><br>
            {{ form.name|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Username</label><br>
            {{ form.username|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Preferred Genre</label><br>
            {{ form.preferred_genre|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Short Description</label><br>
            {{ form.bio_data|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Password</label><br>
            {{ form.password1|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        <div class="mb-6">
            <label class="inline-block mb-2 text-2xl font-bold">Repeat Password</label><br>
            {{ form.password2|add_class:"w-full max-w-xs bg-white border-2 border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:border-blue-500" }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-6 w-full max-w-xs p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <a class="text-lg">Already have an account?</a>
        <a class="underline text-lg text-blue-700" href="{% url 'main:login' %}">Log in</a>
        <br>

        <button class="my-2 py-2 px-7 text-lg bg-blue-500 hover:bg-blue-700 rounded-xl text-white">Submit</button>
    </form>

    {% if messages %}  
        <div class="w-full max-w-xs">
            <ul>   
                {% for message in messages %}  
                    <li class="text-lg text-red-500">{{ message }}</li>  
                {% endfor %}  
            </ul> 
        </div>  
    {% endif %}

</div>
  

{% endblock content %}